@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;900&family=Josefin+Sans&family=Kumbh+Sans:wght@400;500&family=Lato:wght@300;900&family=Lustria&family=Manrope:wght@600;700;800&family=Open+Sans:wght@300&family=Overpass&family=Poppins:ital,wght@0,400;1,200&family=Roboto:wght@300&display=swap");

$main-font: Lustria;
$secondary-font: Inter;
$green-primary: #c7d9c8;
$light-green: #d7e9d8;
$green-secondary: #002902;
$pink-primary: #e8d5e0;
$pink-secondary: #9e005d;
$white: #ffffff;
$black: #000000;
$pink-dark: #9e005d;
