@import "../../styles/config";

button {
  width: 161px;
  height: 45px;
  background-color: inherit;
  color: inherit;
  border-radius: 100px;
  border: 1px solid $green-secondary;
  // border: 1px solid inherit;
  cursor: pointer;
  span {
    font-size: 12px;
    margin-right: 5px;
  }
  i.icon-right {
    width: 35px;
    margin-left: 5px;
  }
}
