<section class="founder">
    <section class="content">
        <aside>
            <img class="desktop" src="../../../assets/founder1.png"
                alt="Portrait of Nisha, founder of a Su Lakshyan organization.">
            <img class="mobile" src="../../../assets/founder-mobile.png"
                alt="Portrait of Nisha, founder of a Su Lakshyan organization.">
        </aside>
        <main>
            <h1>Meet the founder of Su Lakshyan</h1>
            <p>Hi, I’m Nisha! <br>
                I am passionate social worker with 10+ years of experience collaborating with business companies and
                non-governmental organizations to drive community development, women empowerment, vocational skills and
                training, job placements, and eco-conscious projects. A dedicated and organized leader, adept at
                managing projects at the grassroots level. Skilled in problem-solving, resourcefulness, and effective
                negotiation to achieve beneficial agreements.</p>
            <div class="logo">
                <img src="../../../assets/logo-gandaki-province.png" alt="logo of gandaki province">
                <p>SUPORTED BY GANDAKI PROVINCE</p>
            </div>
        </main>
    </section>
</section>