@import "../../styles/config";

.home-create {
  height: 850px;
  width: 100%;
  background-color: $pink-primary;
  display: flex;
  justify-content: space-around;

  img {
    margin-top: 66px;
  }
  main {
    width: 415px;
    margin-top: 141px;

    h1 {
      font-size: 50px;
      line-height: 70px;
      letter-spacing: -2%;
    }
    p {
      font-size: 24px;
      width: 340px;
      line-height: 34px;
      margin-top: 40px;
      color: $black;
    }
  }
}

@media (max-width: 768px) {
  .home-create {
    flex-direction: column-reverse;
    height: 984px;
    min-width: 390px;
    main {
      width: 341px;
      height: 438px;
      margin-top: 40px;
      margin-left: 19px;
      h1 {
        font-size: 48px;
        line-height: 50px;
        padding-right: 28px;
      }
      p {
        font-size: 20px;
        width: 341px;
      }
    }

    img {
      width: 390px;
      margin-bottom: 0px;
    }
  }
}
