<footer>
    <img src="../../../assets/sulogo.png" alt="Su Lakshyan logo">
    <address class="contact-adress">
        <p><span>SU LAKSHYAN</span><br>
            <span> Gyan Marga, Malepatan,</span><br>
            <span>Pokhara, Nepal</span>
        </p>
        <ul>
            <!-- <li><a href=”tel:+9779765511233″>TEL. +977 976 55 11 233</a>
            </li> -->
            <li>TEL. +977 976 55 11 233</li>
            <li><a href="mailto:oursulakshyan@gmail.com">oursulakshyan&#64;gmail.com</a></li>

        </ul>
        <ul class="social-media">


            <li> <a href="https://www.facebook.com/profile.php?id=61553992305883&locale=pl_PL">FACEBOOK</a> </li>
            <li> <a
                    href="https://www.instagram.com/oursulakshyan/?igsh=MWIzN2RpYXR6c2sweg%3D%3D&fbclid=IwAR0raoZVQOL9Rwd0LAwnD9GxJltfOuOmZj0IP1qXPp8_Qq-x-1WsFU7iow0">INSTAGRAM</a>
            </li>
        </ul>
    </address>
</footer>