@import "../../styles/config";

footer {
  height: 271px;
  background-color: $pink-primary;
  display: flex;
  justify-content: space-around;

  img {
    width: 195px;
    height: 147px;
    margin-top: 61px;
  }
  .contact-adress {
    margin-top: 64px;
    width: 829px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    color: $green-secondary;
    font-size: 18px;
    font-style: normal;
    font-family: $secondary-font;
    line-height: 36px;
    p {
      width: 224px;
    }
    ul li {
      list-style: none;
      a {
        text-decoration: none;
        color: $green-secondary;
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    height: 210px;

    img {
      width: 147px;
      height: 111px;
      margin: 49px;
    }
    .contact-adress {
      margin-top: 49px;
      margin-right: 49px;
      width: 668px;
      height: 111px;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  footer {
    height: 508px;
    min-width: 390px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    img {
      width: 170px;
      height: 128px;
      margin: 50px 0px 59px;
    }
    .contact-adress {
      height: 220px;
      width: 246px;
      flex-direction: column;
      text-align: center;
      margin: 0px;
    }
    ul.social-media {
      display: none;
    }
  }
}
