@import "../../styles/config";

.home-establishment {
  background-image: url(../../../assets/women-in-the-circle.png);
  height: 763px;
  display: flex;
  justify-content: end;
  align-items: end;

  main {
    background-color: $pink-primary;
    border-radius: 200px 0px 0px 0px;
    width: 645px;
    height: 230px;
    display: flex;
    justify-content: end;
    align-items: center;

    .text {
      display: flex;
      justify-content: space-between;
      width: 568px;
      height: 136px;
      p {
        width: 375px;
        font-size: 22px;
        line-height: 34px;
      }
      img {
        width: 149px;
        height: 116px;
        align-self: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-establishment {
    display: none;
  }
}
