<section class="donate">
    <section class="support">
        <img src="../../../assets/sulogo.png" alt="Su Lakshyan logo">
        <main>
            <h1>Support Our Mission with a Donation</h1>
            <div class="content">
                <p>Your generosity enables our organization to continue empowering women to become professionally and
                    financially independent, while also supporting environmental action. Every contribution helps us
                    provide
                    essential services, educational programs, and resources that make a real difference in the lives of
                    many. </p>
                <p> <span>How to Donate:</span>
                    <br>
                    You can make a donation by bank transfer to the following account:
                </p>
                <p> SU LAKSHYAN PVT.LTD
                    <br> SWIFT Code: NMBBNPKA
                    <br> Account Number: 1950146283600010
                    <br> Bank Name: NMB Bank ltd.
                </p>
            </div>

        </main>
        <div class="background-shapes">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-right"></div>
            <div class="bottom-left"></div>
        </div>
    </section>
    <section class="qr-code">
        <section class="content">
            <main>
                <h1>You can also donate via nEPALPAY app by scanning the QR code below.</h1>
                <p>Any donation, regardless of how much you can offer, helps us continue our vital work.
                    Thank you for
                    your support and for making a positive impact on our community. Together, we can create a brighter
                    future for Nepali women.</p>

                <div class="qr">
                    <img src="../../../assets/QR.png" alt="QR code for initiating payment through scanning.">
                </div>

            </main>
            <img class="desktop" src="../../../assets/woman-in-the-circle-donate.png" alt="">
            <img class="mobile" src="../../../assets/woman-in-the-circle-donate-mobile.png" alt="">
        </section>
    </section>
</section>