@import "../../styles/config";

.donate {
  background-color: $green-primary;
  color: $green-secondary;

  .support {
    height: 1201px;
    position: relative;

    img {
      position: absolute;
      z-index: 1;
      top: 185px;
      left: 40px;
    }
    main {
      position: absolute;
      top: 215px;
      right: 480px;
      z-index: 1;
      width: 515px;
      height: 599px;

      h1 {
        font-size: 48px;
        line-height: 61px;
        letter-spacing: -2px;
        width: 496px;
        margin-bottom: 40px;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        p {
          font-size: 20px;
          line-height: 24px;

          span {
            font-weight: 700;
          }
        }
        :nth-child(2) {
          margin-top: 20px;
        }
        :nth-child(3) {
          line-height: 30px;
        }
      }
    }
    .background-shapes {
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 0;

      .top-left {
        position: absolute;
        bottom: 270px;
        height: 416px;
        width: 364px;
        border-radius: 0px 200px 0px 0px;
        background-color: #9e005d;
      }
      .top-right {
        position: absolute;
        right: 0;
        bottom: 317px;
        height: 667px;
        width: 366px;
        border-radius: 0px 200px 0px 0px;
        background-color: #e8d5e0;
      }
      .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 718px;
        height: 317px;
        border-radius: 200px 0px 0px 0px;
        background-color: #9e005d;
      }
      .bottom-left {
        position: absolute;
        bottom: 0;
        height: 270px;
        width: 594px;
        border-radius: 0px 200px 0px 0px;
        background-color: #e8d5e0;
      }
    }
  }
  .qr-code {
    height: 761px;
    padding-top: 158px;
    padding-left: 76px;
    .content {
      height: 498px;
      width: 1272px;
      display: flex;

      img.mobile {
        display: none;
      }
      main {
        width: 566px;
        height: 498px;
        margin-right: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          font-size: 32px;
          line-height: 41px;
        }
        p {
          font-size: 20px;
          line-height: 24px;
        }
        p.mobile,
        .qr img.mobile {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .donate {
    height: 1466px;
    .support {
      height: 895px;
      main {
        top: 105px;
        right: 0px;
        left: 0px;
        margin: auto;
        width: 418px;
        height: 552px;

        h1 {
          font-size: 40px;
          line-height: 51px;
          width: 100%;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 40px;
          p {
            font-size: 18px;
            line-height: 22px;
            padding-right: 5px;

            span {
              font-weight: 700;
            }
          }
          :nth-child(2) {
            margin-top: 0px;
          }
          :nth-child(3) {
            line-height: 30px;
          }
        }
      }
      .background-shapes {
        .top-left {
          bottom: 217px;
          height: 334px;
          width: 241px;
        }
        .top-right {
          bottom: 254px;
          height: 535px;
          width: 242px;
        }
        .bottom-right {
          width: 511px;
          height: 254px;
        }
        .bottom-left {
          width: 422px;
          height: 217px;
        }
      }
      img {
        display: none;
      }
    }
    .qr-code {
      padding: 40px 0px;
      .content {
        margin: auto;
        height: 498px;
        width: 868px;
        justify-content: space-between;

        img.desktop {
          display: none;
        }
        img.mobile {
          display: block;
          max-height: 498px;
          max-width: 450px;
        }
        main {
          padding-right: 5px;
          width: 332px;
          height: 100%;
          margin-right: 0px;

          h1 {
            font-size: 25px;
            line-height: 32px;
          }
          p {
            font-size: 16px;
            line-height: 19px;
          }
          .qr {
            align-self: self-start;
            img.desktop {
              display: block;
              width: 142px;
              margin-bottom: 50px;
            }
            img.mobile {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .donate {
    min-width: 390px;
    height: 1886px;

    .support {
      position: static;

      img {
        display: none;
      }
      main {
        top: 152px;
        left: 23px;
        z-index: 1;
        width: 322px;
        height: 564px;

        h1 {
          font-size: 40px;
          line-height: 50px;
          width: 250px;
          margin-bottom: 40px;
        }
        .content {
          p {
            font-size: 18px;
            line-height: 22px;
          }
          :nth-child(3) {
            line-height: 22px;
          }
        }
      }
      .background-shapes {
        display: none;
      }
    }
    .qr-code {
      padding-top: 0px;
      padding-left: 0px;
      background-color: #9e005d;
      height: 991px;
      .content {
        width: 322px;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        margin: 0px;
        img.desktop {
          display: none;
        }
        img.mobile {
          display: block;
          width: 390px;
          height: 416px;
        }
        main {
          width: 332px;
          margin: 50px 0px 0px 19px;
          padding: 50px 0px;
          // margin: 0px;
          flex-direction: column-reverse;
          gap: 50px;
          .qr {
            align-self: center;
            img.desktop {
              display: none;
            }
            img.mobile {
              display: block;
              width: 146px;
              height: 146px;
            }
          }
          h1 {
            display: none;
          }
          p {
            color: $white;
          }
          p.mobile {
            display: block;
          }
          p.desktop {
            display: none;
          }
        }
      }
    }
  }
}
