<nav>
    <a [routerLink]="'/'"><img src="../../../assets/sulogo.png" alt="su lakshyan logo"></a>
    <ul [ngClass]="isMenuOpen() ? 'is-open' : '' ">
        <li><a (click)="onMenuClosed()" class="nav-item" [ngStyle]="{'display': isMenuOpen() ? 'block' :'none' }"
                [routerLink]="'/'">HOME</a>
        </li>
        <li><a (click)="onMenuClosed()" class="nav-item" [routerLink]="'/about'">ABOUT US</a></li>
        <li><a (click)="onMenuClosed()" class="nav-item" [routerLink]="'/projects'">OUR PROJECTS</a></li>
        <li><a (click)="onMenuClosed()" class="nav-item">NEPALI</a></li>
        <li><a (click)="onMenuClosed()" class="nav-item" [routerLink]="'/contact'">CONTACT US</a></li>
    </ul>
    <a class="donate" [routerLink]="'/donate'">DONATE</a>

    <button (click)="toggleMenu()" aria-expanded="false">
        <img src="{{isMenuOpen() ? close : open}}" [ngStyle]="{'height': isMenuOpen() ? '30px' : '26px' }" alt="menu">
    </button>
</nav>