@import "../../styles/config";

nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: $green-primary;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 40px;
    margin-left: 40px;
  }
  ul {
    width: 932px;
    height: 41px;
    font-size: 17px;
    font-family: $secondary-font;
    display: flex;
    padding: 0px 60px;
    justify-content: space-between;
    align-items: center;
    color: $green-secondary;
    list-style: none;
    a {
      cursor: pointer;
    }
    a.donate {
      background-color: $green-secondary;
      color: $white;
      width: 126px;
      height: 41px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
