@import "../../styles/config";

nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: $green-primary;
  height: 66px;
  display: flex;
  align-items: center;

  button {
    display: none;
  }

  img {
    height: 40px;
    margin-left: 30px;
  }

  ul {
    display: flex;
    color: $green-secondary;
    font-size: 16px;
    line-height: 19px;
    font-family: $secondary-font;
    display: flex;
    gap: 83px;
    align-items: center;
    position: absolute;
    right: 269px;
    list-style: none;

    a {
      cursor: pointer;
    }
  }
  a,
  a:hover,
  a:active,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a.donate {
    font-family: $secondary-font;
    position: absolute;
    right: 60px;
    background-color: $green-secondary;
    color: $green-primary;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    width: 126px;
    height: 41px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  nav {
    width: 100%;
    a img {
      display: none;
    }
    button {
      display: block;
      position: absolute;
      right: 19px;
      border: none;
      top: 0px;
      bottom: 0px;
      margin: auto;
      background-color: inherit;
      img {
        margin: 0px;
      }
    }
    ul {
      display: none;
    }

    a.donate {
      position: absolute;
      height: 35px;
      width: 90px;
      left: 19px;
      font-size: 12px;
      line-height: 14px;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
    }
    @media (max-width: 786px) {
      max-width: 100%;
    }
  }

  nav.is-open {
    width: 390px;
    right: 0;
    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      background-color: $green-primary;
      position: absolute;
      top: 66px;
      left: 0px;
      gap: 50px;
      height: 700px;
      width: 100%;
      padding: 50px 0px 0px 19px;

      @media (max-width: 786px) {
        height: 416px;
      }
    }
  }
}
