<section class="about">
    <section class="content">
        <main>
            <h1>About <br> Su Lakshyan</h1>
            <p>Through vocational training for women, including computer and English language skills, Su Lakshyan
                broadens
                their
                employment prospects and thereby empowers them, including financially and this way breaks the cycle of
                poverty.
            </p>
            <p>
                By generating local employment opportunities, it influences economic growth and stability of the
                community.
                Joint projects integrate the community. </p>
            <p>Recycling and production of eco-friendly bags positively impacts environmental issues, while acting in
                the
                spirit of Nepali culture by producing Dhaka-related goods.</p>
            <p> So Su Lakshyan is creating a future where women not only benefit directly, but actively contribute to
                building
                an inclusive, empowered and sustainable society, inspiring positive change beyond enterprise boundaries.
            </p>
        </main>
    </section>

    <aside>
        <img src="../../../assets/landscape.png" alt="photo of Nepali landscape">
    </aside>
</section>
<section class="organisation-goal">
    <div class="top">
        <img src="../../../assets/sulogo.png" alt="su lakshyan logo">
        <header>
            <div class="title">
                <h1>Organization’s goal</h1>
                <p>We focus on giving women wings, which is why we have a mission to empower 1500 underprivileged women
                    in
                    Pokhara, Nepal, by 2025, achieving sustainable impact through measurable goals.</p>
            </div>
        </header>
    </div>
    <div class="background-shapes">
        <div class="top-left"></div>
        <div class="top-right"></div>
        <div class="bottom-right"></div>
        <div class="bottom-left"></div>
    </div>
    <div class="goals-container">
        <div class="goals-item">
            <h2>ECONOMIC EMPOWERMENT</h2>
            <p>80% of program graduates secure sustainable employment or start their own businesses within one year</p>
        </div>
        <div class="goals-item">
            <h2>ENVIROMENTAL SUSTAINABILITY</h2>
            <p>80% of program graduates secure sustainable employment or start their own businesses within one year</p>
        </div>
        <div class="goals-item">
            <h2>CULTURAL PRESERVATION</h2>
            <p>Sustain the production of Nepali Dhaka-related goods, with a 50% increase in market demand</p>
        </div>
        <div class="goals-item">
            <h2>DIGITAL INCLUSION</h2>
            <p>90% of participants demonstrate improved proficiency in basic computer skills and English language</p>
        </div>
        <div class="goals-item">
            <h2>COMMUNITY ENGAGEMENT</h2>
            <p>Form partnerships with at least three local businesses and NGOs.</p>
        </div>
        <div class="goals-item">
            <h2>GENDER EQUALITY AND EMPOWERMENT</h2>
            <p>70% of participants report increased agency and support for their aspirations.</p>
        </div>
    </div>
</section>

<section class="founder">
    <section class="content">
        <aside>
            <img src="../../../assets/founder.png" alt="photo of foundation founder">
        </aside>
        <main>
            <h1>Meet the founder of Su Lakshyan</h1>
            <p>Hi, I’m Nisha! <br>
                I am passionate social worker with 10+ years of experience collaborating with business companies and
                non-governmental organizations to drive community development, women empowerment, vocational skills and
                training, job placements, and eco-conscious projects. A dedicated and organized leader, adept at
                managing projects at the grassroots level. Skilled in problem-solving, resourcefulness, and effective
                negotiation to achieve beneficial agreements.</p>
        </main>
    </section>
</section>