<section class="about">
    <main>
        <h1>About Su Lakshyan</h1>
        <p>Through vocational training for women, including computer and English language skills, Su Lakshyan broadens
            their
            employment prospects and thereby empowers them, including financially and this way breaks the cycle of
            poverty. <br>
            By generating local employment opportunities, it influences economic growth and stability of the community.
            Joint projects integrate the community. <br>
            Recycling and production of eco-friendly bags positively impacts environmental issues, while acting in the
            spirit of Nepali culture by producing Dhaka-related goods. <br>
            So Su Lakshyan is creating a future where women not only benefit directly, but actively contribute to
            building
            an inclusive, empowered and sustainable society, inspiring positive change beyond enterprise boundaries.
        </p>
    </main>
    <aside>
        <img src="../../../assets/landscape.png" alt="photo of Nepali girl">
    </aside>
</section>
<section class="organisation-goal">
    <div class="top">
        <img src="../../../assets/sulogo.png" alt="su lakshyan logo">
        <header>
            <div class="title">
                <h1>Organization’s goal</h1>
                <p>We focus on giving women wings, which is why we have a mission to empower 1500 underprivileged women
                    in
                    Pokhara, Nepal, by 2025, achieving sustainable impact through measurable goals.</p>
            </div>
        </header>
    </div>

    <!-- <main> -->
    <div class="goals-container">
        <div class="goals-item"></div>
        <div class="goals-item"></div>
        <div class="goals-item"></div>
        <div class="goals-item"></div>
        <div class="goals-item"></div>
        <div class="goals-item"></div>
    </div>
    <!-- </main> -->
</section>