@import "../../styles/config";
.homepage {
  color: $green-secondary;
  background-color: $green-primary;

  .home-about {
    // height: 822px; //not fixed
    height: 888px;
    display: flex;
    justify-content: space-between;
    main {
      width: 651px;
      color: $green-secondary;
      padding-left: 100px;
      margin-top: 99px;
      // margin-top: 40px; //not fixed
      h1 {
        width: 508px;
        font-size: 75px;
        line-height: 95px;
        margin-top: 40px;
      }
      p {
        width: 470px;
        font-size: 24px;
        margin-top: 40px;
      }
      .read-more {
        margin-top: 40px;
      }
    }

    img {
      align-self: end;
    }
  }
  .home-create {
    height: 850px;
    background-color: $pink-primary;
    display: flex;
    justify-content: space-around;

    img {
      margin-top: 66px;
    }
    main {
      width: 415px;
      margin-top: 141px;

      h1 {
        font-size: 50px;
        line-height: 70px;
        letter-spacing: -2%;
        font-weight: normal;
      }
      p {
        font-size: 24px;
        width: 340px;
        line-height: 34px;
        margin-top: 40px;
        color: $black;
      }
    }
  }

  .motto {
    height: 850px;
    background-color: $green-primary;
    display: flex;
    justify-content: center;
    main {
      width: 1218px;
      height: 357px;
      margin-top: 265px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h2 {
      font-size: 22px;
      color: $black;
    }
    blockquote {
      font-size: 60px;
    }
    p {
      font-size: 24px;
      color: $black;
    }
  }
}
