<section class="homepage">
    <app-navbar></app-navbar>
    <section class="home-about">
        <main>
            <img src="../../../assets/sulogo.png" alt="su lakshyan logo">
            <h1>Empowering dreams, skills & innovations</h1>
            <p>Su Lakshyan is a social enterprise based in Pokhara, Nepal, dedicated to empowering underprivileged
                women.</p>
            <button>
                <span>READ MORE</span>
                <i class="icon-right"></i>
            </button>
        </main>
        <img src="../../../assets/nepali-girl.png" alt="photo of Nepali girl">
    </section>
</section>