<section class="homepage">
    <section class="home-about">
        <main>
            <img src="../../../assets/sulogo.png" alt="su lakshyan logo">
            <h1>Empowering dreams, skills & innovations</h1>
            <p>Su Lakshyan is a social enterprise based in Pokhara, Nepal, dedicated to empowering underprivileged
                women.</p>
            <div class="read-more">
                <app-read-more-btn></app-read-more-btn>
            </div>
        </main>
        <img src="../../../assets/nepali-girl.png" alt="photo of Nepali girl">
    </section>
    <section class="home-create">
        <img src="../../../assets/old-woman.png" alt="photo of woman making leaf plate">

        <main>
            <h1>Creating opportunities for women</h1>
            <p>Su Lakshyan is creating a future where women not only benefit directly, but actively contribute to
                building an inclusive, empowered and sustainable society, inspiring positive change beyond enterprise
                boundaries.
            </p>
        </main>
    </section>
    <section class="motto">
        <main>
            <h2>OUR MISSION</h2>
            <blockquote>“Our vision is that underprivileged women actively contribute to building an inclusive,
                empowered
                and sustainable society.”</blockquote>
            <p>Nisha Manandhar - Founder of Su Lakshyan </p>
        </main>
    </section>
</section>