<section class="home-about">
    <main>
        <img src="../../../assets/sulogo.png" alt="su lakshyan logo">
        <h1>Empowering dreams, skills & innovations</h1>
        <p>SU LAKSHYAN is a social enterprise based in Pokhara, Nepal, dedicated to empowering underprivileged
            women.</p>
        <div class="read-more">
            <app-read-more-btn [routerLink]="'/about'" [isAboutPage]="true"></app-read-more-btn>
        </div>
    </main>
    <img class="desctop" src="../../../assets/nepali-girl.png" alt="photo of Nepali girl">
    <img class="mobile" src="../../../assets/nepali-girl-mobile.png" alt="photo of Nepali girl">
</section>