<section class="projects">
    <header>
        <h1>Our Projects</h1>
    </header>
    <main>
        <app-project-images></app-project-images>
        <ul class="projects-list">
            @for (project of displayedProjects(); track project.id) {
            <li>
                <div class="item-content">
                    <span>{{ project.date }}</span>
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.content | short}}</p>
                </div>
                <button [routerLink]="'/projects/'+project.id">Read more</button>
            </li>
            }
        </ul>
    </main>
    <div class="load-more">
        <button (click)="onLoadMore()" [ngClass]="!isButtonActive() ? 'disabled' : '' ">LOAD MORE</button>
    </div>
</section>