@import "../../styles/config";

.contact-us {
  min-height: 850px;
  background-color: $green-primary;
  color: $green-secondary;
  display: flex;

  .text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    main {
      width: 400px;
      margin-top: 20px;

      h1 {
        font-size: 48px;
        line-height: 70px;
        padding: 0px 7px;
        margin-bottom: 35px;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          font-size: 18px;
          line-height: 22px;
          padding: 0px 7px;
        }
        p:nth-child(1) {
          text-indent: 0.5em;
        }
      }
      .addres-desktop {
        width: 282px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        p {
          line-height: 36px;
          font-size: 20px;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
  img.mobile,
  img.tablet {
    display: none;
  }
}

.contact-form {
  min-height: 850px;
  font-size: 20px;
  line-height: 36px;
  color: $white;
  background-color: $green-secondary;
  display: flex;
  justify-content: center;

  .form {
    margin-top: 124px;
    p {
      margin-left: 30px;
    }
    iframe {
      height: 1500px;
    }
  }

  .addres {
    display: none;
  }
}

@media (max-width: 1024px) {
  .contact-us {
    .text {
      main {
        width: 311px;

        .content {
          p {
            font-size: 16px;
            line-height: 19px;
            padding: 0px;
          }
        }

        .addres-desktop {
          font-size: 18px;
        }
      }
    }

    img.tablet {
      display: block;
    }
    img.mobile,
    img.desktop {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .contact-us {
    width: 100%;
    height: 1100px;
    flex-direction: column;

    .text {
      width: 100%;
      margin-bottom: 50px;
      justify-content: start;
      padding-left: 21px;
      main {
        width: 322px;
        height: 371px;
        margin-top: 185px;

        h1 {
          font-size: 40px;
          padding: 0px;
          margin-bottom: 20px;
        }
        .content {
          p {
            padding: 0px;
          }
        }
        .addres-desktop {
          display: none;
        }
      }
    }

    img.mobile {
      display: block;
      max-width: 390px;
      margin-left: -5px;
    }
    img.desktop,
    img.tablet {
      display: none;
    }
  }

  .contact-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addres {
      display: flex;
      flex-direction: column;
      margin-top: 73px;
      height: 418px;
      width: 282px;
      gap: 60px;
      p {
        margin-bottom: 0px;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .form {
      margin-top: 67px;
      p {
        display: none;
      }
      iframe {
        height: 1700px;
        width: 350px;
      }
    }
  }
}
