@import "../../styles/config";

.contact-us {
  min-height: 850px;
  background-color: $green-primary;
  color: $green-secondary;
  display: flex;

  .text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    main {
      width: 400px;

      h1 {
        font-size: 48px;
        line-height: 70px;
        padding: 0px 7px;
        margin-bottom: 35px;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 35px;

        p {
          font-size: 18px;
          line-height: 22px;
          padding: 0px 7px;
        }
        p:nth-child(1) {
          text-indent: 0.5em;
        }
      }
    }
  }
  img.mobile {
    display: none;
  }
}

.contact-form {
  min-height: 850px;
  font-size: 20px;
  line-height: 36px;
  color: $white;
  background-color: $green-secondary;
  display: flex;
  justify-content: space-around;

  .form {
    margin-top: 124px;
    p {
      margin-left: 30px;
    }
    iframe {
      height: 1500px;
      //   width: 500px;
    }
  }

  .addres {
    width: 282px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    p {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-us {
    width: 100%;
    height: 1251px;
    flex-direction: column;

    .text {
      width: 100%;
      margin-bottom: 50px;
      justify-content: start;
      padding-left: 21px;
      main {
        width: 322px;
        height: 523px;
        margin-top: 185px;

        h1 {
          font-size: 40px;
          padding: 0px;
          margin-bottom: 20px;
        }
        .content {
          p {
            padding: 0px;
          }
        }
      }
    }

    img.mobile {
      display: block;
      width: 390px;
    }
    img.desktop {
      display: none;
    }
  }

  .contact-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addres {
      margin-top: 73px;
      height: 418px;
      width: 282px;
      gap: 60px;
      p {
        margin-bottom: 0px;
      }
    }
    .form {
      margin-top: 67px;
      p {
        display: none;
      }
      iframe {
        height: 1700px;
        width: 350px;
      }
    }
  }
}
