<section class="contact-us">
    <section class="text">
        <main>
            <h1>Contact Us</h1>
            <p> We are dedicated to empowering and supporting women in our community. Whether you need assistance, want
                to
                learn more about our programs, or are interested in getting involved, we would love to hear from you!
            </p>

            <p> Our doors are open to everyone. If you're interested in volunteering, collaborating, or simply learning
                more
                about what we do, please don’t hesitate to reach out or drop by. Your support and involvement can make a
                significant difference.</p>

            <p>Together, we can create a brighter future for all women. We look forward to connecting with you soon!</p>
        </main>
    </section>

    <img src="../../../assets/foggy-day.png" alt="photo of foundation founder">

</section>
<section class="contact-form">
    <div class="addres">
        <p>SU LAKSHYAN
            <br> Gyan Marga,
            <br> Malepatan, Pokhara,
            <br> Nepal
        </p>
        <p>TEL. +977 976 55 11 233
            <a href="mailto:oursulakshyan@gmail.com">oursulakshyan&#64;gmail.com</a>
        </p>
        <p>
            <a href="https://www.facebook.com/profile.php?id=61553992305883&locale=pl_PL">FACEBOOK</a> <br>
            <a
                href="https://www.instagram.com/oursulakshyan/?igsh=MWIzN2RpYXR6c2sweg%3D%3D&fbclid=IwAR0raoZVQOL9Rwd0LAwnD9GxJltfOuOmZj0IP1qXPp8_Qq-x-1WsFU7iow0">INSTAGRAM</a>
        </p>
    </div>
    <div class="form">
        <p>CONTACT FORM</p>

        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfUVPGEg8WO9Z4WiHQyWHmNsgHAHgeBGuFouw_OGWecXx_dsw/viewform?embedded=true"
            width="640" height="1336" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>
</section>