<section class="top">
    <main>
        <div class="text">
            <h1>सुलक्षण: पिछडिएका महिलाहरूको लागि सशक्तीकरणको अभियान</h1>
            <p>सुलक्षण, पोखरा, नेपालमा आधारित एक सामाजिक उद्यम हो, जसले २०२३ देखि पिछडिएका महिलाहरूलाई सशक्त बनाउन
                समर्पित छ। हामी जीवन सीप, कम्प्युटर सीप, र अंग्रेजी भाषा सीपको व्यावसायिक तालिम प्रदान गर्छौं।
                महिलाहरूलाई आत्मनिर्भर बनाउन र उनीहरूको सपना पूरा गर्न हामीले प्लास्टिक रिसाइकल गरी इको-फ्रेन्डली झोला र
                नेपाली ढाका सम्बन्धित वस्तुहरू उत्पादन गर्छौं।

            </p>
        </div>
    </main>
    <aside>
        <img class="desktop" src="../../../assets/nepali1-desktop.png" alt="photo of sewing woman">
        <img class="tablet" src="../../../assets/nepali1-tablet.png" alt="photo of sewing woman">
        <img class="mobile" src="../../../assets/nepali1-mobile.png" alt="photo of sewing woman">
    </aside>
</section>

<section class="bottom">
    <aside> <img src="../../../assets/nepali2-desktop.png" alt="">
    </aside>
    <main>
        <div class="text">
            <h4>हाम्रो उद्देश्य:</h4>
            <ul>
                <li>महिलाहरूलाई सीपमूलक तालिम प्रदान गर्ने</li>
                <li>रोजगारीका अवसरहरू सिर्जना गर्ने</li>
                <li>वित्तीय स्वतन्त्रता र आर्थिक स्थायित्व बढाउने</li>
                <li>सामाजिक एकता र पर्यावरण संरक्षणलाई प्रवर्धन गर्ने</li>
            </ul>
            <h4>हाम्रो विशेषताहरू:</h4>
            <ul>
                <li>जीवन परिवर्तन गर्ने तालिम कार्यक्रम</li>
                <li>डिजिटल साक्षरता र अंग्रेजी भाषा शिक्षा</li>
                <li>प्लास्टिक पुनःप्रयोग मार्फत इको-फ्रेन्डली उत्पादन</li>
                <li>नेपाली सांस्कृतिक संरक्षणमा योगदान</li>
            </ul>
            <p>सुलक्षणसँग, हामी महिलाहरूलाई सशक्त बनाउन र एक समावेशी, सशक्त, र दिगो समाज निर्माण गर्न प्रतिबद्ध छौं।</p>
            <p> सुलक्षणमा आजै सामेल हुनुहोस् र सकारात्मक परिवर्तनको हिस्सा बन्नुहोस्!</p>
        </div>
    </main>
</section>