@import "../../styles/config";

.about {
  height: 850px;
  width: 100%;
  padding-top: 71px;
  display: flex;
  background-color: $green-primary;

  .content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green-secondary;
    main {
      max-width: 515px;
      height: 406px;
      h1 {
        font-size: 60px;
        line-height: 75px;
        font-weight: 400px;
        letter-spacing: -2px;
        width: 496px;
        height: 150px;
        margin-bottom: 40px;
      }
      p {
        font-size: 20px;
        line-height: 24px;
        padding-right: 10px;
      }
    }
  }
  aside {
    width: 50%;
    img.desktop {
      width: 100%;
    }
    img.mobile {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    height: 584px;

    max-width: 1024px;
    .content {
      main {
        width: 344px;
        height: 373px;
        h1 {
          font-size: 48px;
          line-height: 63px;
          width: 272px;
          height: 124px;
          margin-bottom: 40px;
        }
        p {
          font-size: 16px;
          line-height: 19px;
          padding-right: 0px;
        }
      }
    }

    aside {
      img.desktop {
        max-width: 503px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    min-width: 390px;
    height: 1116px;
    flex-direction: column;
    .content {
      width: 390px;
      align-items: flex-start;
      main {
        width: 304px;
        height: 487px;
        margin-top: 51px;

        h1 {
          font-size: 48px;
          line-height: 61px;
          height: 124px;
          width: 304px;
        }
        p {
          padding-right: 5px;
        }
      }
    }

    aside {
      img.mobile {
        display: block;
        margin-top: 54px;
      }
      img.desktop {
        display: none;
      }
    }
  }
}
