<section class="about">
    <section class="content">
        <main>
            <h1>About <br> Su Lakshyan</h1>
            <p>Through vocational training for women, including computer and English language skills, Su Lakshyan
                broadens
                their
                employment prospects and thereby empowers them, including financially and this way breaks the cycle of
                poverty.
            </p>
            <p>
                By generating local employment opportunities, it influences economic growth and stability of the
                community.
                Joint projects integrate the community. </p>
            <p>Recycling and production of eco-friendly bags positively impacts environmental issues, while acting in
                the
                spirit of Nepali culture by producing Dhaka-related goods.</p>
            <p class="desktop"> So Su Lakshyan is creating a future where women not only benefit directly, but actively
                contribute to
                building
                an inclusive, empowered and sustainable society, inspiring positive change beyond enterprise boundaries.
            </p>
        </main>
    </section>

    <aside>
        <img class="desktop" src="../../../assets/landscape.png" alt="Landscape of a Nepali view.">
        <img class="mobile" src="../../../assets/landscape-mobile.png" alt="Landscape of a Nepali view.">
    </aside>
</section>