<section class="about">
    <section class="content">
        <main>
            <h1>About <br> Su Lakshyan</h1>
            <p>Su Lakshyan is an organization from Nepal that empowers women by offering vocational trainings in digital
                literacy, English language and general life skills to broaden employment prospects and foster financial
                independence, thereby breaking the cycle of poverty.
                Environmental initiatives include recycling plastic and producing eco-friendly bags. 
                <br> The organization emphasizes cultural preservation through handcrafting traditional Dhaka products.
            </p>
        </main>
    </section>

    <aside>
        <img class="desktop" src="../../../assets/landscape.png" alt="Landscape of a Nepali view.">
        <img class="mobile" src="../../../assets/landscape-mobile.png" alt="Landscape of a Nepali view.">
    </aside>
</section>