@import "../../styles/config";
.motto {
  height: 850px;
  background-color: $green-primary;
  display: flex;
  justify-content: center;
  main {
    width: 1218px;
    height: 357px;
    margin-top: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    font-size: 22px;
    color: $black;
  }
  blockquote {
    font-size: 60px;
  }
  p {
    font-size: 24px;
    color: $black;
  }
}

@media (max-width: 768px) {
  .motto {
    min-width: 390px;
    height: 495px;

    main {
      margin: 50px 40px 50px 19px;
      // margin-left: 19px;
      width: 331px;
      height: 395px;
      h2 {
        font-size: 16px;
        line-height: 19px;
      }
      blockquote {
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -2px;
        margin-right: 20px;
      }
      p {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
