@import "../../styles/config";

.empower {
  padding-top: 96px;
  height: 850px;
  background-color: $green-primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel {
    width: 1362px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      background-color: inherit;
      cursor: pointer;
      img {
        width: 45px;
        height: 45px;
      }
    }
  }

  .mobile-view {
    display: none;
  }

  header {
    width: 600px;
    height: 197px;
    text-align: center;
    h1 {
      font-size: 48px;
      line-height: 70px;
      font-weight: 400;
    }
  }

  ul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    li {
      list-style: none;
      a {
        cursor: pointer;
        border: none;
        background-color: inherit;
        i.icon-instagram,
        i.icon-facebook-circled {
          font-size: 36px;
          color: $green-secondary;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .empower {
    .carousel {
      padding: 10px;
      width: 100%;
      height: 250px;
      button {
        img {
          width: 36px;
          height: 36px;
        }
      }
      img.img-carousel {
        width: 300px;
        height: 300px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .empower {
    padding-top: 96px;
    padding-bottom: 96px;
    height: 712px;
    justify-content: space-between;
    .carousel {
      img.img-carousel {
        width: 250px;
        height: 250px;
      }
    }

    header {
      width: 582px;
      height: 130px;
      h1 {
        line-height: 65px;
      }
    }
  }
}

@media (max-width: 834px) {
  .empower {
    .carousel {
      img.img-carousel {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media (max-width: 768px) {
  .empower {
    padding-top: 50px;
    min-width: 390px;
    height: 625px;
    .carousel,
    header {
      display: none;
    }
    .mobile-view {
      display: block;

      .contact-mobile {
        width: 207px;
        height: 131px;
        margin: auto;
        h1 {
          font-size: 25px;
          line-height: 32px;
          height: 64px;
          text-align: center;
          margin-bottom: 30px;
          margin-top: 70px;
        }
      }

      .carousel-mobile {
        width: 390px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        button {
          border: none;
          background-color: inherit;
          cursor: pointer;
          img {
            width: 35px;
            height: 35px;
          }
        }
        img {
          width: 277px;
          height: 277px;
          border-radius: 50px;
        }
      }
    }
  }
}
