<section class="empower">
    <header>
        <h1>Empowering dreams, skills & innovations</h1>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=61553992305883"><i
                        class="icon-facebook-circled"></i></a></li>
            <li><a
                    href="https://www.instagram.com/oursulakshyan?fbclid=IwZXh0bgNhZW0CMTAAAR3mW31em_TCquMamloFpOzawxLyuWPjoMFxLccpwaItu6jpUiNwFLUsE0U_aem_AbZlDJYEH4jL56lJltXqgNC6RUiZqXxo69LoxGOyNxJvyolBLDtPdce2nneGkcFk6ZHO_vyUjuy22p2n3e9xm-Jb"><i
                        class="icon-instagram"></i></a></li>
        </ul>
    </header>

    <section class="carousel">
        <button (click)="onLeftClicked()"> <img src="../../../assets/button-left.svg" alt=""> </button>
        @for (selectedImage of selected(); track selectedImage.id) {
        <img class="img-carousel" src="../../../assets/{{selectedImage.name}}" alt="{{selectedImage.alt}}">}
        <button (click)="onRightClicked()"> <img src="../../../assets/button-right.svg" alt=""> </button>
    </section>

    <section class="mobile-view">
        <section class="carousel-mobile">
            <button (click)="onLeftMobileClicked()"> <img src="../../../assets/button-left.svg" alt=""> </button>
            <img src="../../../assets/{{selectedMobile().name}}" alt="{{selectedMobile().alt}}">
            <button (click)="onRightMobileClicked()"> <img src="../../../assets/button-right.svg" alt=""> </button>
        </section>
        <section class="contact-mobile">
            <h1> For more news Follow Us</h1>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=61553992305883"><i
                            class="icon-facebook-circled"></i></a></li>
                <li><a
                        href="https://www.instagram.com/oursulakshyan?fbclid=IwZXh0bgNhZW0CMTAAAR3mW31em_TCquMamloFpOzawxLyuWPjoMFxLccpwaItu6jpUiNwFLUsE0U_aem_AbZlDJYEH4jL56lJltXqgNC6RUiZqXxo69LoxGOyNxJvyolBLDtPdce2nneGkcFk6ZHO_vyUjuy22p2n3e9xm-Jb"><i
                            class="icon-instagram"></i></a></li>
            </ul>
        </section>
    </section>
</section>