<section class="home-projects">
    <section class="desktop-view">
        <section class="top">
            <img class="logo" src="../../../assets/sulogo.png" alt="su lakshyan logo">
            <div class="text">
                <p>
                    <span>SUSTAINABILITY</span><br><br>
                    <span>Recycling and production of eco-friendly bags positively impacts environmental issues, while
                        acting in
                        the spirit of Nepali culture by producing Dhaka-related goods.</span>
                </p>
            </div>

            <img class="plastic" src="../../../assets/plastic.png" alt="">

        </section>

        <section class="middle">
            <img src="../../../assets/garden.png" alt="photo of garden">
            <aside>
                <img src="../../../assets/old-woman-smiling.png" alt="">
                <div class="text">
                    <div class="content">
                        <h1>EDUCATION</h1>
                        <p>Education advancement includes providing basic computer skills and English language training.
                        </p>
                    </div>

                </div>
            </aside>

        </section>
        <section class="bottom">
            <div class="projects">
                <p>SU LAKSHYAN</p>
                <h1>Our projects</h1>
                <div class="read-more">
                    <app-read-more-btn [routerLink]="'/projects'"></app-read-more-btn>
                </div>
            </div>
            <div class="text">
                <div class="content">
                    <h1>OPPORTUNITIES</h1>
                    <p>Generating local employment opportunities, which influences economic growth and stability of the
                        community.
                    </p>
                </div>

            </div>
        </section>
    </section>

    <section class="tablet-view">
        <section class="top">
            <img src="../../../assets/garden.png" alt="photo of garden">
            <div class="text">
                <p>
                    <span>SUSTAINABILITY</span><br><br>
                    <span>Recycling and production of eco-friendly bags positively impacts environmental issues, while
                        acting in
                        the spirit of Nepali culture by producing Dhaka-related goods.</span>
                </p>
            </div>
        </section>

        <section class="middle">
            <div class="logo">
                <img src="../../../assets/sulogo.png" alt="su lakshyan logo">

            </div>
            <img class="woman" src="../../../assets/old-woman-smiling.png" alt="">
            <div class="text">
                <div class="content">
                    <h1>EDUCATION</h1>
                    <p>Education advancement includes providing basic computer skills and English language training.
                    </p>
                </div>
            </div>

        </section>
        <section class="bottom">
            <div class="projects">
                <div class="content">
                    <p>SU LAKSHYAN</p>
                    <h1>Our projects</h1>
                    <div class="read-more">
                        <app-read-more-btn [routerLink]="'/projects'"></app-read-more-btn>
                    </div>
                </div>

            </div>
            <div class="text">
                <div class="content">
                    <h1>OPPORTUNITIES</h1>
                    <p>Generating local employment opportunities, which influences economic growth and stability of the
                        community.
                    </p>
                </div>

            </div>
        </section>
    </section>


    <section class="mobile-view">
        <img src="../../../assets/old-woman-smiling-mobile.png" alt="">

        <main>
            <section class="mobile-top">
                <p>SU LAKSHYAN</p>
                <h1>Our projects</h1>
            </section>
            <section class="mobile-moddle">
                <p>Education advancement includes providing basic computer skills and English language training.</p>
                <br>
                <p>Generating local employment opportunities, which influences economic growth and stability of the
                    community.
                </p>
            </section>
            <section class="mobile-bottom">
                <app-read-more-btn [isAboutPage]="false" [routerLink]="'/projects'">
                </app-read-more-btn>
            </section>
        </main>
    </section>
</section>