<section class="home-projects">
    <section class="top">
        <img class="logo" src="../../../assets/sulogo.png" alt="su lakshyan logo">
        <div class="text">
            <p>
                <span>SUSTAINABILITY</span><br><br>
                <span>Recycling and production of eco-friendly bags positively impacts environmental issues, while
                    acting in
                    the spirit of Nepali culture by producing Dhaka-related goods.</span>
            </p>
        </div>

        <img class="plastic" src="../../../assets/plastic.png" alt="photo of platick bottles">

    </section>

    <section class="middle">
        <img src="../../../assets/garden.png" alt="photo of garden">
        <aside>
            <img src="../../../assets/old-woman-smiling.png" alt="photo of old woman smiling">
            <div class="text">
                <p>Education advancement includes providing basic computer skills and English language training.</p>
            </div>
        </aside>

    </section>
    <section class="bottom">
        <div class="projects">
            <p>SU LAKSHYAN</p>
            <h1>Our projects</h1>
            <div class="read-more">
                <app-read-more-btn [routerLink]="'/projects'"></app-read-more-btn>
            </div>
        </div>
        <div class="text">
            <p>Generating local employment opportunities, which influences economic growth and stability of the
                community.
            </p>
        </div>
    </section>

    <section class="mobile-view">
        <img src="../../../assets/old-woman-smiling-mobile.png" alt="photo of old woman smiling">

        <main>
            <section class="mobile-top">
                <p>SU LAKSHYAN</p>
                <h1>Our projects</h1>
            </section>
            <section class="mobile-moddle">
                <p>Education advancement includes providing basic computer skills and English language training.</p>
                <br>
                <p>Generating local employment opportunities, which influences economic growth and stability of the
                    community.
                </p>
            </section>
            <section class="mobile-bottom">
                <app-read-more-btn [isAboutPage]="false" [routerLink]="'/projects'">
                </app-read-more-btn>
            </section>
        </main>
    </section>
</section>